.header-bar {
	width: 100%;
	height: 40px;
	margin-left: -20px;
	margin-right: 50px;
	background-attachment: scroll;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto;
	align-self: center;
}
.header-content{
	height: 20px;
	width: 100%;
	padding-bottom: 35px;
	margin-top:-20px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	align-self: center;
	background-color: #F8F8F8;
}
.button{
	float:right;
	width:100px;
	height: 20px;
	margin-top: 20px;
	margin-right:25px;
	font-family: "宋体";
	font-size: 15px;
	align-content: center;
}
.button_main{
	width: 64px;
	height:27.5px;
}
.container{
	width: 1000px;
	height:210px;
	margin: 200px 0 0 100px;
	overflow: hidden;
}
.container ul{
	display: flex;
	width: 2000px;
	height: 200px;
	animation: myani 7s linear infinite;
}
.container ul li{
	width: 2000px;
	height: 200px;
}
.container ul li img{
	width: 100%;
	height: 100%;
}
@keyframes myani {
	from {
		transform:translateX(0px) ;
	}
	to{
		transform: translateX(-1400px);
	}
}
