#body {
	background-color: #EAE8EB;
	height: 6000px;
}

.header-bar {
	min-width: 100%;
	width: 1448px;
	height: 40px;
	margin: 0;
	position: absolute;
	left: 0px;
	top: 0px;
}

.header-content {
	height: 40px;
	width: 1448px;
	min-width: 100%;
	position: relative;
	background-color: rgb(249, 249, 249);
}

.button {
	float: right;
	position: relative;
	right: 30px;
	top: 10px;
	width: 60px;
	height: 20px;
	font-family: "宋体";
	font-size: 15px;
	align-content: center;
}

.button_main {
	width: 64px;
	height: 27.5px;
}

.search_bar {
	position: absolute;
	min-width: 100%;
	width: 1448px;
	height: 600px;
	top: 40px;
	left: 0;
	background-image: url("../img/插画1.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.search_field {
	position: absolute;
	min-width: 50%;
	height: 50px;
	top: 325px;
	left: 25%;
	align-items: center;
	background-color: transparent;
	border: 5px solid;
	border-color: darkgray;
	border-radius: 5px;
	display: flex;
}

.search_field input {
	width: 90%;
	height: 96%;
	font-size: 20px;
	font-weight: 50px;
	border: none;
	outline: none;
	cursor: pointer;
}

.search_btn {
	position: absolute;
	min-width: 10%;
	height: 100%;
	right: 0;
	background-color: darkgreen;
	border: none;
	outline: none;
	padding: none;
	font-size: 20px;
}

.search_btn:hover::before .search_btn:hover::after {
	background-color: #fff;
}

.search_btn:hover {
	background-color: aquamarine;
}

.search_btn i {
	font-size: 30px;
	align-self: center;
}

.main_body {
	width: 1521px;
	height: 2000px;
	position: absolute;
	background-color: white;
	left: 0px;
	top: 700px;
}
.container-white{
	width: 1521px;
	height: 700px;
	position: relative;
	background-color: white;
	left: 0px;
	top:0px;
}

.container-gray{
	width: 1521px;
	height: 700px;
	position: relative;
	background-color: rgb(247,243,242);
	left: 0px;
	top: 0px;
}
.car {
	position: relative;
	float: left;
	left: 270px;
	top: 40px;
	width: 981px;
	height: 600px;
	margin: 0, 0, 0, 0;
	border-radius: 20px;
	background-color: transparent;
}

.car h2 {
	position: relative;
	top: 20px;
	color: #000;
	font-size: 60px;
}

.tech {
	position: relative;
	float: left;
	left: 270px;
	top: 50px;
	width: 981px;
	height: 600px;
	margin: 0, 0, 0, 0;
	border-radius: 20px;
	background-color: rgb(249, 249, 249);
}

